<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Sudoku Game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
      <ion-item>
          <ion-label>Level</ion-label>
          <ion-select [(ngModel)]="selectedLevel" (ngModelChange)="changeGrid()">
            <ng-container *ngFor="let level of levels">
            <ion-option [value]="level.id">{{level.displayValue}}</ion-option>
          </ng-container>
          </ion-select>
        </ion-item>
  </div>
  <ion-grid>
    <ng-container *ngFor="let row of arr; let rowIndex = index">
      <ion-row>
        <ion-col col-1>
          <!-- for empty space -->
        </ion-col>
        <ng-container *ngFor="let col of row; let colIndex = index">
          <ion-col col-1 class="border border-dotted" [ngClass]="(col !== '' ? 'filled' : 'unfilled')">
            <div>
              <input [value]="col" only-numbers maxlength="1" id="{{rowIndex.toString() + colIndex.toString()}}" [ngClass]="(col !== '' ? 'filled' : 'unfilled')"
                [readonly]="(col !== '')" />
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ng-container>
  </ion-grid>
  <div text-center>
    <button type="submit" ion-button round (click)="check()">Result</button>
    <button type="submit" ion-button round (click)="restart()">Restart</button>
  </div>
</ion-content>